# .gitignore

#Distribution / Packaging
.Python
__pycache__/
*.py[cod]
build/
downloads/
var/
wheels/

# Jupyter Notebook
.ipynb_checkpoints

#IPython
profile_default/
ipython_config.py

# pyenv
.python_version

#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site